@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 1920;
    height: 1080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #d63939, 0 0 50px #d63958, 0 0 100px #d63939;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}

.greetings > span:nth-child(1){
    animation-delay: .1s ;
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1.0s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.button{
    text-align: center;
    width: 100%;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.button a:hover{
    background-color: #d639c4;
    color: #fff;
    box-shadow: 0 0 12px #d63975, 0 0 25px #d6397a;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
        padding: 0 15px;
    }
    
    .button a{
        font-size: 0.8rem;
        padding: 8px 20px;
    }
}